
<p-sidebar #sideBar  showCloseIcon="false" [visible]="true"    >
  <ng-template pTemplate="header">
   <img  [src]="imageUrl" [style.width]="pagetrigger.clicked?'60px':'250px'"  style=" margin:auto; " alt="Qapera" />
  </ng-template>
<div class="flex flex-col">
  <button pButton type="button"  class="p-button-outlined menu_one_sidebar" (click)="isOpen()" style="border: 0; margin-top:1rem; margin-bottom:1rem;" icon="{{pagetrigger.clicked?'pi pi-angle-double-right':'pi pi-angle-double-left'}}"   ></button>

  <p-panelMenu    [model]="items"  >

  <ng-template    pTemplate="item" let-item>
      <ng-container    NgIf="item.route; else urlRef">

          <a     [routerLink]="item.route" class="
              cursor-pointer text-color px-3 py-2">


                <span (mouseover)="sidebarHoverState()" [class]="item.icon"></span>
                <span  [style.display]="pagetrigger.clicked?'none':'inline'" class="ml-2 text-color">{{ item.label }}</span>












          </a>
          <span [style.display]="pagetrigger.clicked?'none':'inline'" style="font-size:xx-large;" [class]="item.chev"></span>
      </ng-container>
      <ng-template  #urlRef >
          <a  NgIf="item.url; else noLink" [href]="item.url" class="flex align-items-center
              cursor-pointer text-color px-3 py-2">
              <span  [class]="item.icon"></span>
              <span  class="ml-2">{{ item.label }}</span>
          </a>
          <ng-template #noLink>
              <span class="flex align-items-center cursor-pointer text-color px-3 py-2">
                  <span   [class]="item.icon"></span>
                  <span  class="ml-2">{{ item.label }}</span>
                  <i NgIf="item.items" class="pi pi-angle-down text-primary ml-auto"></i>
              </span>
          </ng-template>
      </ng-template>
  </ng-template>

</p-panelMenu>
<hr >

</div>


<ng-template  pTemplate="footer" >

    <img src="assets/img/sss.jpeg" alt="resim" style="border-radius: 9999px; width:60px; height:60px; border:4px solid #00b4d2; margin-right:20px; align-self:center;"/>
    <div [style.display]="pagetrigger.clicked?'none':'flex'" style=" flex-direction:column; margin-left:30px;  font-size:x-large;">
        <span class="profile-name ">mahmut</span>
        <span class="profile-desc" >Chef</span>
    </div>
</ng-template>

</p-sidebar>










