
@import "primeicons/primeicons.css";

:root{
  --primary-color:#026467;
  --secondary-color:#E5F5EA;
  --body-text-color:#596392;
  --navbar-footer-color:#F9F9F9;
}

html{}



.p-image-preview{
  border-radius: 10%;

}
.p-image{
  border-radius: 50%;

}

.p-accordion{
  margin-top: 50px;
  margin-bottom: 50px;


}














